.footer 
  .main-container 
    a(href="").footer__logo
      img(src="img/logo-footer.svg", alt="").footer__logo-img 

    .footer__cont 
      a(href="https://wa.me/5511920141849" target="_blank").footer__contato contato 
      a(href="https://wa.me/5511920141849" target="_blank").footer__viber Se ficou com alguma dúvida, entra em contato com a gente.