.section.welcome 
  .main-container
    a(href="").welcome__logo 
      img(src="img/logo-desktop.png", alt="").welcome__logo-img
    h2.section__title.welcome__title se adianta #[span.br e ganha.]
    .section__cont
      .welcome__img-w
        
        <picture>
            <source srcset="img/welcome-img-desk.png" media="(min-width: 1024px)">
            img(src="img/welcome-img-mob.png", alt="").welcome__img
        </picture>
      
      .welcome__text
        p O #[b Lastro Points] é o primeiro programa de pontos sobre o pagamento do seu aluguel. Funciona assim: você entra na nossa lista exclusiva, se adianta, ganha pontos e troca por benefícios: celulares, eletrônicos, passagens e muito mais.

        h3 Se pagar em dia é bom, pagar antes é melhor ainda.