extends layout/_layout

block content
  include blocks/_header
  include blocks/_welcome
  include blocks/_calculator
  include blocks/_products
  include blocks/_footer
  #modal-feedback.modal
    include blocks/_feedback